<% layout('./layout/boilerplate') -%>



<div style="display:flex;flex-direction:row;width:100vw; align-items:center;justify-content:space-evenly;" >
  <div>

    <h1 style="margin-left: 85px;margin-top:20px">  <%= product.name %> </h1>
          <div class="card mx-auto mb-3" style="width: 23rem;margin-top:30px">
              <img src="<%=product.img%>" class="card-img-top" alt="<%=product.name%> ">
              <div class="card-body">
                <h5 class="card-title"><%=product.name%> </h5>
                <p class="card-text"><%=product.desc%></p>
                <h5 class="card-title">$<%=product.price%> </h5>
            
                <a href="/products/<%=product._id%>/edit" class="btn btn-sm btn-secondary">Update</a>

               <form action="/products/<%=product._id%>?_method=DELETE" method="post" class="d-inline">
                  <button class="btn btn-sm btn-danger">Delete</button>
               </form>
        
          </div>
          </div>
          </div>
     

      <div style="width:50%;" >
        <h1>Add a Review</h1>
        <div class="mb-3">
            <form action="/products/<%=product._id%>/review" method="post">
                <div class="mb-3">
                   <label for="rating" class="form-label">Rating</label>
                    <input type="range" name="rating" id="rating" class="form-control" min="0" max="5" step="1">
                </div>
                <div class="mb-3">
                  <label for="rating" class="form-label">Comment</label>
                    <textarea class="form-control" name="comment" id="commment" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-sm btn-success">Add a review </button>
            </form>

            <br>
            <div class="mb-3">
                <% for(let review of product.review){ %>
                    <div style="height:150px;" class="card mb-1">
                        <div class="card-body">
                            <p>Rating : <%=review.rating%></p>
                            <p><%=review.comment%></p>
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </div>
                      
                      </div>
                <% } %>  
            </div>
        </div>


  </div>

 

</div>

