

<%- include('partials/navbar') %>
<br>
<%- include('partials/header') %>

<br>

    <h2><u>This is an EJS file</u></h2>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima recusandae laborum, at expedita officia maxime soluta laboriosam natus atque sit! Nisi placeat illum, repellendus voluptatem ratione officiis fugit corrupti qui.</p>

    <br>

    <h2> Random Number: <%= Math.floor(Math.random()*10) %></h2>

    <br>
    <br>


    <%- include('partials/card') %>
    <br>

  <%- include('partials/footer') %>



    